*{
    text-align: center;
    box-sizing: border-box;
    color: #333333;
    font-family: "Poppins", sans-serif;
    
   
}
h1,h3{
    text-shadow: #ff6f61 1px 5px 3px;
}
body{
    /* background: #fef9f4; */
        background: linear-gradient(135deg, #f68616 0%, #95f3d8c8 50%, #ffdbc0 100%);

    
    /* background: linear-gradient(65deg, rgba(131, 58, 180, 1) 0%, rgba(212, 106, 106, 1) 62%, rgba(252, 176, 69, 1) 100%); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}
button{
    margin-top: 10px;
    height: 33px;
    width: 90px;
    background-color: #ff6f61;
    border: 2px solid #ffe5d9 ;
    border-radius: 15%;
    font-size: 1rem;
    
}
.cont{
    margin: 20px auto;
    width: 70%;
    height: 300px;
    border: 2px solid #ffe5d9;
    padding: 10px;
    background-color: #ff9472;
}

#dropdown{
    width: 200px;
    height: 40px;
    background-color: #ff9472;
    border: 2px solid #ffe5d9;
    font-size: 1rem;

}