<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANDOM JOKES AND FACT GENERATOR
    </title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>JUST GIVE ME THE JOKE!  </h1>

    <h3>No signup!, No bullshit! , Endless jokes!</h3>

    <select name="" id="dropdown">
        <option value="" disabled selected>
            -- Choose An Option --</option>
        <option value="dadjokes">
            <a href="http://icanhazdadjoke.com/">
                Dad Jokes</a>
        </option>
        <option value="uselessfacts">
            <a href="https://uselessfacts.jsph.pl/api/v2/facts/random">
                Useless Facts</a>
        </option>
        <option value="randomjokes">
            <a href="https://v2.jokeapi.dev/joke/Any">Random Jokes</a>
        </option>
    </select>
    <br>
    <button>generate</button>
    <br>
    <div class="cont">

    </div>
    <script src="/app.js"></script>
</body>
</html>